/* .........Header classes.... */

.header_list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  width: 1213px;
  height: 49px;
  margin: auto;
  justify-content: space-between;
}
.header_link {
  text-decoration: none;
  color: #232e35;
  font-size: 16px;
  margin-right: 56px;
}
.header_list_right {
  display: flex;
  align-items: center;
}
.toggle_mode {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
.download_btn {
  text-decoration: none;
  color: #232e35;
  font-size: 14px;
  font-weight: 500;
  margin-left: 32px;
  display: inline-flex;
  width: 102px;
  height: 49px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
/* .........Header classes.... End*/

/* .........Footer classes.... */
.footer {
  height: 241px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.footer_list a {
  display: inline-block;
  margin-right: 32px;
}
.footer strong {
  text-align: center;
  display: block;
  color: #656d72;
  font-weight: 400;
  font-size: 14px;
}
/* .........Footer classes.... End*/
